.exercises {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 32px;
  column-gap: 64px;
  max-width: 722px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 132px;
  }
}
